<!DOCTYPE html>
<html>
  <head>
    <title>PSPDFKit Web Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>
    <main>
      <form action="/login" class="login" method="post">
        <h2>Login</h2>
        <div class="form-group">
          <input type="text" name="user" placeholder="username"/>
          <input type="submit" value="Login" class="btn"/>
        </div>
      </form>
    </main>
  </body>
</html>
